.register-main {
    width: 100%;
    height: 100svh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}

.register-main .container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.register-main .container-left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background: radial-gradient(circle, #0f0f0f, #080808); */
    /* background: linear-gradient(to right, #a18cd1, #fbc2eb); */
    background-image: linear-gradient(
        to top,
        #fdcbf1 0%,
        #fdcbf1 1%,
        #e6dee9 100%
    );
}

.register-main .container-left .text-container {
    display: flex;
    flex-direction: column;
}

.register-main .container-left .text-container span {
    line-height: 1.5;
    font-size: clamp(1rem, 5vw, 5rem);
}

.register-main .container-left .text-container span:nth-child(3) {
    font-weight: 600;
}

.register-main .container-right {
    width: 50%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.register-main .container-right .title {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    font-size: var(--text-lg);
    white-space: nowrap;
    font-weight: 600;
}

.register-main .container-right .welcome {
    font-size: var(--text-xl);
    border: none;
    font-weight: 600;
}
.register-main .container-right .subtitle {
    font-size: var(--text-sm);
    color: #ababab;
    line-height: 1.5;
    margin: 5px 0;
}

.register-main .container-right .btn-container {
    width: 100%;
    background-color: #f0f0f2;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
    margin-top: 10px;
}
.register-main .container-right .btn-container button {
    padding: 12px 0;
    width: 100%;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    font-size: var(--text-sm);
}

.register-main .container-right .btn-container button.active {
    background-color: #ffffff;
}

.auth-form {
    width: 100%;
    margin-top: 20px;
}

.auth-form .input-container {
    width: 100%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    padding: 8px 0;
    border-radius: 10px;
    border: 2px solid #dbdbdb;
}

.auth-form .input-container .icon {
    padding: 0 15px;
}

.auth-form .input-container .icon:last-child svg {
    background-color: #2abc87;
    border-radius: 50%;
    color: #ffffff;
}

.auth-form .input-container .input {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 2px;
    padding-left: 15px;
    border-left: 1px solid #919191;
}

.auth-form .input-container .input label {
    font-size: var(--text-xs);
    font-weight: 500;
    color: #818181;
}

.auth-form .input-container .input input {
    border: none;
    outline: none;
    font-weight: 600;
    font-size: 14px;
}

@media only screen and (max-width: 900px) {
    .register-main .container-left {
        display: none;
    }
    .register-main .container-right {
        width: 350px;
        margin: auto;
    }
}
