.input-container {
    width: 100%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    padding: 12px 0;
    border-radius: 10px;
    border: 2px solid #dbdbdb;
    position: relative;
}

.input-container .icon {
    padding: 0 15px;
}

.input-container .icon:first-child {
    cursor: pointer;
}

.input-container .icon:last-child svg {
    background-color: #2abc87;
    border-radius: 50%;
    color: #ffffff;
    user-select: none;
}

.input-container .input {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 4px;
    padding: 0 15px;
    border-left: 1px solid #919191;
}

.input-container label {
    font-size: var(--text-xs);
    font-weight: 500;
    color: #818181;
    user-select: none;
}

.input-container input {
    border: none;
    outline: none;
    font-weight: 600;
    font-size: 14px;
    color: #222222;
}

.input-container input::placeholder {
    opacity: 50%;
}
